# Environment secrets
.env

# Python
venv/
.venv/
__pycache__/
*.pyc

# Data & OS
.DS_Store

# blur private key and public key
rsa_key.p8
rsa_key.pub



#dlt
.dlt
__init__.py
chess



# che log 
*.log
dbt.log